@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --grid-size: 8;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

h1, .form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.forms {
  display: flex;
  justify-content: center;
}

form {
  border: 1px solid black;
  padding: .5em 1em;;
  width: auto;
  margin: 1em;
  text-align: center;
}

form, .container {
  box-shadow: 1px 1px 1px black;
}

.inputs {
  display: flex;
  align-items: center;
}

input[type="number"], #mode {
  margin: .5em;
  width: calc(100% - 1em);
}

.container {
  margin: 1em auto;
  border: 1px solid black;
  width: 45em;
  height: 45em;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size), 1fr);
  padding: 1em;
}

.outline {
  border: 1px solid hsl(0, 0%, 80%);
}